# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp
*.swp
*.bak
*.cache

# Variables de entorno
.env
